#foto {
    background-color:black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .8fr;
    z-index: 5;
}

.top-foto-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.title {
    color:white;
    font-family: 'Nobile', sans-serif;
}

.bottom-foto-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-foto-align {
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 5rem;
}

.content {
    background-color:black;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.img-bot {
    max-width: 27rem;
    max-height: 27rem;
    border-radius: 2rem;
}

.nama {
    color: white;
    width: 80%;
    height: 10rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Nobile', sans-serif;
}

a {
    color: white;
    font-family: 'Nobile', sans-serif;
    text-align: center;
}